$bg: #fff;
$section-bg: #fff;
$text-color: #2C2F3C;
$header-image: url('../img/m-h-day.jpg');
$basic-font: 'Hind', sans-serif;
$btn-color: #699900;
$bg-under-text: #14A0C7;
$card-bg: #21232E;
$banner-gradient: linear-gradient(to right, #689803 30%,#2989d8 61%,#2989d8 61%,#2989d8 74%,#2989d8 98%,#2c5adc 100%);
$title-color: #2C2F3C;